@import url('https://fonts.googleapis.com/css2?family=Bai+Jamjuree:wght@400;600&display=swap');

@font-face {
    font-family: "hoppins";
	src: url("../vendor/fonts/Poppins/Poppins-Bold.ttf");
}

h1,h2,h3,h4 {
    font-family: "hoppins";
}

h5, p {
    font-family: "Bai Jamjuree";
    
}

.first-section {
    padding-top: 30px;
    padding-bottom: 100px;
}

.second-section {
    padding-bottom: 100px;
    margin-top: 70px;
}

.second-section .row {
    margin-top: 30px;
    
}

.third-section {
    padding: 50px;
}

.fourth-section {
    padding: 100px;
    background-image: url(../img/foto\ milkyway.jpg);
    background-size: cover;
    height: 400px;
    width: 100%;
}

.fourth-section h2 {
    color: aliceblue;
    padding-top: 70px;
}

footer a {
    text-decoration: none;
}
