@import url('https://fonts.googleapis.com/css2?family=Bai+Jamjuree:wght@400;600&display=swap');
@font-face {
    font-family: "Poppins";
    src: url("../vendor/fonts/Poppins/Poppins-Bold.ttf");
}

@font-face {
    font-family: "Roboto";
    src: url("../vendor/fonts/Roboto/Roboto-Regular.ttf");
}

body {
    font-family: "Poppins" !important;
}

h1,
h2,
h3,
h4 {
    font-family: "Poppins" !important;
    font-weight: bolder;
}

h5,
h6,
p {
    font-family: "Bai Jamjuree";

}

table {
    width: 100%;
    border-collapse: collapse;
}

table,
th,
td {
    border: 1px solid black;
}

th,
td {
    padding: 10px;
    text-align: center;
}
a {
    text-decoration: none;
}
p {
    font-size: 1.2em;
}


/* Style the first row differently, e.g., with a background color */

tr:first-child {
    background-color: #eee;
}

.column {
    padding-bottom: 20%;
}

.table {
    padding-top: 2%;
}

.judul {
    background-color: #164863;
}


/* COLOR SYSTEM */


/* PRIMARY */

.primary-500 {
    color: #164863 !important;
}

.primary-500-bg {
    background-color: #164863 !important;
}


/* SECONDARY */

.secondary-500 {
    color: #DDF2FD !important;
}

.secondary-500-bg {
    background-color: #DDF2FD !important;
}


/* TERTIARY */

.tertiary-500 {
    color: #427D9D !important;
}

.tertiary-500-bg {
    background-color: #427D9D !important;
}


/* FORTIARY */

.fortiary-500 {
    color: #427D9D !important;
}

.fortiary-500-bg {
    background-color: #427D9D !important;
}

.foto-1 {
    height: 200%;
}

.grad {
    background-image: linear-gradient(#164863, #427D9D);
}

.two-by-four {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1rem;
    /* Adjust the gap size as needed */
}

.teks {
    padding: 10px;
}
.web {
    background-color: #225672 !important;
    padding: 0%;
    margin: 0%;
}
