@import url('https://fonts.googleapis.com/css2?family=Bai+Jamjuree:wght@400;600&display=swap');
@font-face {
    font-family: "Poppins";
    src: url("../vendor/fonts/Poppins/Poppins-Bold.ttf");
}

@font-face {
    font-family: "Roboto";
    src: url("../vendor/fonts/Roboto/Roboto-Regular.ttf");
}

body {
    font-family: "Poppins" !important;
}

h1,
h2,
h3,
h4 {
    font-family: "Poppins" !important;
    font-weight: bolder;
}

h5,
h6,
p {
    font-family: "Bai Jamjuree";

}
a {
    text-decoration: none;
}
p {
    font-size: 1em;
}


/* Style the first row differently, e.g., with a background color */



/* COLOR SYSTEM */


/* PRIMARY */

.primary-500 {
    color: #164863 !important;
}

.primary-500-bg {
    background-color: #84bc75 !important;
}


/* SECONDARY */

.secondary-500 {
    color: #fff !important;
}

.secondary-500-bg {
    background-image: linear-gradient(#6abe67, #FEFDED); 
}


/* TERTIARY */

.tertiary-500 {
    color: #427D9D !important;
}

.tertiary-500-bg {
    background-color: #94b48b !important;
}


/* FORTIARY */

.fortiary-500 {
    color: #f1ecd9 !important;
}

.fortiary-500-bg {
    background-color: #7ca760 !important;
}

.foto-1 {
    height: 200%;
}

.grad {
    background-image: linear-gradient(#164863, #427D9D);
}

.two-by-four {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1rem;
    /* Adjust the gap size as needed */
}

.teks {
    padding: 10px;
}
/* navbar */
.navbar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000; /* to ensure it's on top of other elements */
  }
  nav {
    background-image: linear-gradient(#5bb169, #e9ffd5);
 }
